@import "~@/styles/index.scss";

.AppToolbarSection {
  min-width: 128px;

  &:hover > &__Title{
    @include transition;
    background: #d6b0d5;
  }

  &__Tools {
    border-top: 1px #d6b0d5 solid;
    border-left: 1px #d6b0d5 solid;
    border-right: 1px #d6b0d5 solid;
    @include border-radius-top-left(4px);
    @include border-radius-top-right(4px);
    min-width: 126px;
    height: 76px;
    & > * {
      margin-left: 4px;
      margin-top: 4px;
    }
  }
  &__Title {
    @include transition;
    background: #e2c8e2;
    text-align: center;
    height: 16px;
    @include border-radius-bottom-left(4px);
    @include border-radius-bottom-right(4px);
    font: 400 12px/16px "Helvetica Heue", sans-serif;
    color: #130a26;
  }
}

