header.AppToolbar {
  width: calc(100% - 8px);
  height: 96px;
  display: flex;
  padding: 4px;
  overflow-x: scroll;
  overflow-y: hidden;
  background: #f7ebf7;
  align-items: flex-start;
  justify-content: flex-start;

  & > *:not(:first-child) {
    margin-left: 4px;
  }
}
