@mixin transition {
  transition: .6s linear;
}

@mixin border-radius-bottom-left ($px) {
  -moz-border-radius-bottomleft: $px;
  -webkit-border-bottom-left-radius: $px;
}

@mixin border-radius-bottom-right ($px) {
  -moz-border-radius-bottomright: $px;
  -webkit-border-bottom-right-radius: $px;
}

@mixin border-radius-top-left ($px) {
  -moz-border-radius-topleft: $px;
  -webkit-border-top-left-radius: $px;
}

@mixin border-radius-top-right ($px) {
  -moz-border-radius-topright: $px;
  -webkit-border-top-right-radius: $px;
}
